<h1>Login Page</h1>
<form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" placeholder="email" id="email" name="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Sign in</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
</ul>